# vim-plug manages vim plugins
vim.symlink/autoload/plug.vim
vim.symlink/plugged/

# other vim things to not sync
vim.symlink/spell
vim.symlink/view

# github/hub creds
/hub

# gradle turds
gradle.symlink/caches/
gradle.symlink/daemon/
gradle.symlink/native/
gradle.symlink/wrapper/

# yoeman
/configstore/
