[submodule "vim-pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-colors-solarized"]
	path = vim/bundle/solarized
	url = https://github.com/neilpa/vim-colors-solarized.git
[submodule "vim-buffergator"]
	path = vim/bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim-ps1"]
	path = vim/bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/neilpa/prezto.git
