<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TODO</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  <style type="text/css">
  </style>
</head>
<body>

  <script type="text/javascript">
   function autorun()
   {

   }
   if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
   else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
   else window.onload = autorun;
  </script>
</body>
</html>
